[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/oskarirauta/SimpleJSON
[submodule "ubus"]
	path = ubus
	url = https://github.com/oskarirauta/ubuscpp.git
[submodule "signal"]
	path = signal
	url = https://github.com/oskarirauta/signal_cpp.git
